@import "bootswatch/dist/cyborg/bootstrap.min.css";
@import "bootstrap/scss/bootstrap.scss";
@import "bootswatch/dist/cyborg/bootstrap.min.css";


body {
  background-color: #141414; /* Dark background */
  color: #ffffff;           /* Light text color */
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Netflix-like font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
}



:root {
  --primary: #e50914;
  --dark-gray: rgba(51, 51, 51, 0.66);
  --text-gray: #ffffff;
  --color-gray: #b3b3b3;
  --button-background: #343a40;
  --text-color: #f8f9fa;
  --background-color: #121212;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-color);
}

input,
button {
  padding: 16px 20px;
  border-radius: 4px;
  &::-ms-check {
    display: none;
  }
}
