/*@import "bootswatch/dist/cyborg";*/
/*@import "bootswatch/dist/cyborg/_bootswatch.scss";*/
/*@import "bootstrap/scss/bootstrap.scss";*/





:root {
  --primary: #e50914;
  --dark-gray: rgba(51, 51, 51, 0.66);
  --text-gray: #ffffff;
  --color-gray: #b3b3b3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  border: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgba(51, 51, 51, 0.86);
}

input,
button {
  padding: 16px 20px;
  border-radius: 4px;
  &::-ms-check {
    display: none;
  }
}
